<!-- INCLUDE PARTIALS HEADER-->
<%- include("../partials/header.ejs") %>

<div class="container">
    <div class="row">
        <!-- BY row CLASS THE INPUT FIELDS WILL SHOR HORIZONTAL BY HORIZONTAL-->
        <h1 style="text-align: center;"> ADD A NEW COMMENT to <%= campground.name %></h1>
        <div style="width: 30%; margin: 30px auto;">
            <form method="POST" action="/campgrounds/<%=campground._id %>/comments">
                <div class="form-group">
                    <!-- form-group WILL JUST ADD THE SPACIING IN BETWEEN THE INPUTS-->
                    <input class="form-control" type="text" placeholder="text" name="comment[text]">
                    <!-- IN POST ROUTE WHEN WE NEED THE text AND author VALUES WE CAN JUST WRITE req.body.comment SO IT IS A OBJECT THAT CONTAINS BOTH THE VALUES OF text AS WELL AS author-->
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!!</button>
                    <!--btn-block WILL JUST CREATE-->
                </div>
            </form>
            <!-- THIS FORM WILL CREATE A POST REQUEST SO THE FORM WILL GOTO app.post("/campgrounds",function(req,res){})-->
            <a href="/campgrounds">BACK TO CAMPGROUND</a>
        </div>
    </div>
</div>

<!--INCLUDE PARTIALS FOOTER-->
<%- include("../partials/footer.ejs") %>